/* phone */
@media only screen and (min-width: 450px){
  .Image{
    display: block;
    margin: 0 auto;
    width:  700px;
    
  }
}

/* tablet */
@media only screen and (min-width: 768px){
 
  
  .Image{
    display: block;
    width:  750px;
  
  }
}

/* desktop */
@media only screen and (min-width: 1024px){
  .Image{
    width: 1050px
  }
}
body {
  font-family: sans-serif;
  background-color: maroon;
}


header{
  text-align: center;

}

.input-field{
  background-color:rgb(226, 159, 34);
  

}

.container{
  color:black;
  text-align: center;
}

.nav-wrapper{
  background-color:rgb(226, 159, 34) ;
}

.btn-floating{
  margin-top: 10px;
  
}

#accordion{
  background-color:peachpuff;
}

.icon-color{
  background-color: coral;
}



