/* phone */
@media only screen and (min-width: 600px){
  body{
    background-color: blue;
  }
}

/* tablet */
@media only screen and (min-width: 768px){
  body{
    background-color: tomato;
  }
  
  img{
    display: block;
    margin: 0 auto;
    height:  475px;
  
  }
}

/* desktop */
@media only screen and (min-width: 1024px){
  body{
    background-color: yellow;
  }
}
body {
  font-family: sans-serif;
  background-color: maroon;
}


header{
  text-align: center;

}

.input-field{
  background-color: orange;
  

}

.container{
  color: white;
  text-align: center;
}


