const apikey = 'key=0d8881693054b317b3ab989c18a74c4d';




            // console.log(results[i].name.includes(nameQuery))
            //if (results[i].name.includes(nameQuery)){
                // console.log(results.data[i].name);
                // let $beer = $('<div>')
                // $beer.append($('<h2>').text(results.data[i].name));
                // $beer.append($('<h3>').text(results.data[i].style.description));
                // $beer.append($('<h4>').text('abv: '  + results.data[i].abv));
                // $beer.append($('<h5>').text('Organic ' + results.data[i].isOrganic));
                // $beer.append($('<img>').text(results.data[i].name));
                // $('.container').append($beer);
                // $('.container').html(`
                // <h2> ${results[i].name} </h2>
                // <h3> ${results[i].style.description} </h3>
                // <h4> ${results[i].abv} </h4>
                // <h5> ${results[i].isOrganic} </h5>
                
                // `)
                // console.log(results[i].name);
                // console.log(results[i].style.description);
                // console.log(results[i].abv);
                // console.log(results[i].isOrganic);
                // }
                
                
                
                
                
                //console.log(results);
                
                //     const $img = $('<img>').attr('src', beersData.Poster).attr('alt', beersData.name)
                //   $('.container').append($img)
                //     console.log(beersData)


                // https://sandbox-api.brewerydb.com/v2/search?q=brewing&type=brewery&withBreweries=Y&withLocations=y&key=c2794a49996068f02fae050e225faa50


//https://sandbox-api.brewerydb.com/v2/search?q=bud&type=beer&key=c2794a49996068f02fae050e225faa50
//console.log(queryURL);

//https://sandbox-api.brewerydb.com/v2/search?q=beerName&type=beer&key=c2794a49996068f02fae050e225faa50

 

            beerData.append($(beer))